/Hand2Hand.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Hand2Hand.xcodeproj/project.xcworkspace/xcuserdata/codehova.xcuserdatad/UserInterfaceState.xcuserstate
/Hand2Hand.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Hand2Hand.xcodeproj/xcuserdata/codehova.xcuserdatad/xcschemes/xcschememanagement.plist
